body{
	width:100%;
	margin: 0 auto;
	font-family: 'Muli', Arial, sans-serif;
	background-color: #f6f6f6;
	
}
h1{
	background: url("file:///C:/Users/Tim/Documents/Olivia%20Coding/Images%20PW/super%20front.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: #f6f6f6; 
	color:#3f3f3f;
	font-family: 'Raleway';
	padding:8%;
	font-weight:bold;
	text-align: top left;
	font-size: 250%;	

}

h1:before, h1: after{
	content:'';
	display:inline-block;
	position:absolute;
	background: inherit;
	background-position: 100% 100% 
	
}
h1: before{
	position: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}

nav{
	background: #11051b;
	color: #ffffff;
	font-family: 'Raleway';
	padding:10px;
	font-weight:bold;
	text-align: center;
	font-size: 20px
}
button{
	background:#ff1d8e;
	font-family:'Raleway';
}
//* code for same size 
summary{
	width:200px;
    height:150px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}
.img{
	position:relative;
	float: left;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size: cover; 
}*// 

summary{
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 90px;
	height: auto;
	max-width: auto;
	overflow-y: hidden;
	overflow-x:auto;
	white-space:nowrap;
	padding: 2% 10%;
}

.img{ 
	display: inline-block;
	float:right;
	margin: 0px;
	padding: 0px;
}
.clearfix0{
	clear:both;
}
section{
	margin:2% 10%;
	font-weight:bold;
	font-size: 20px
}
h2{
	font-weight:italic;
	text-align: left;
	font-size:30px
}

article{
	margin: 2% 10%;
}
.subscribe{
	background:#ff6969;
	color:white;
	font-size:20px;
	background: url("file:///C:/Users/Tim/start/PersonalSite/Images%20PW/watermellon%20background.jpg");
	height:150%;
}
div{
	width:31.3%;
}

.div1{
	float:left;
	display:block;
	padding: 10px 10px 10px 10px;

}
.div2{
	float:left;
	display:block;
	padding: 10px 10px 10px 10px;
}
.div3{
	float:left;
	display:block;
	padding: 10px 10px 10px 10px;
}
.clearfix1{
	clear:both;
}

figure{
	display: block;
	position:right;
	
	
}
li a{
	display:inline-block;
	color:white;
	padding:10px 10px 10px 10px;
	border-color: blue
}
.cities{

}
.center{
	position:center;
	padding: 0% 10% 0% 30%;
}
footer{
	padding:30px 10px 10px 10px;
	background:#ff6969;
}
p{
	padding-top: 10px
}
img{
	padding-top: 10px;
}