body{
	width:100%;
	margin: 0 auto;
	font-family: 'Muli', Arial, sans-serif;
	background-color: #f6f6f6;
	
}
h1{
	background: url("Images/super%20front.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: #f6f6f6; 
	color:#3f3f3f;
	font-family: 'Raleway';
	padding:8%;
	font-weight:bold;
	text-align: top left;
	font-size: 250%;	

}

h1:before, h1: after{
	content:'';
	display:inline-block;
	position:absolute;
	background: inherit;
	background-position: 100% 100% 
	
}
h1: before{
	position: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}

nav{
	background: #11051b;
	color: #ffffff;
	font-family: 'Raleway';
	padding:0.5%;
	font-weight:bold;
	text-align: center;
	font-size: 20px
	
}
button{
	background:#ff6969;
	font-family:'Raleway';
	color: white;
	font-size: 20px
}
//* code for same size pictures - now fixed with pictures themself
summary{
	width:200px;
    height:150px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}
.img{
	position:relative;
	float: left;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size: cover; 
}*// 

/* Issue here is that the pictures stay true to size for smaller devices - they need to become smaller*/ 
summary{
	height: 30em; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Muli', Arial, sans-serif;

}
.Blueberry{
	background-image:url("Images/banner%20Olivia%20Blueberry-Coconut-Ice-Cream.jpg");
}
.avosla{
	background-image:url("Images/banner%20avosla.jpg");
}
.Chia{
	background-image:url("Images/banner%20Olivia%20Chia-Pudding-Breakfast-Jar-6-300x310.jpg"); 
}
.sla{
	background-image:url("Images/banner%20sla.jpg"); 
}
.vegan{
	background-image:url("Images/banner%20Olivia%20vegan-blueberry-cheesecake-7-300x310.jpg"); 
}
.tortilla{
	background-image:url("Images/banner%20tortilla.jpg"); 
}


.img{
	float:left;
	width:16.5%;
	margin:0 auto;

}

//* Second float with issue underneath each other
	margin:2% 10%;
	position: relative;
	top: 90px;
	overflow-y: hidden;
	overflow-x:auto;
	white-space:nowrap;
	width:13.2%;
	max-height: 350px;
}

.img{ 
	display: block;
	float:right;
	margin: 0px;
	padding: 0px;
}
*//
.clearfix0{
	clear:both;
}
section{
	margin:2% 10%;
	font-weight:bold;
	font-size: 30px
	font-family:'Muli', Arial, sans-serif;
}
h2{
	font-weight:italic;
	text-align: left;
	font-size:30px
}

article{
	margin: 2% 10%;
}
.subscribe{
	background:#ff6969;
	color:white;
	font-size:20px;
	background: url("Images/watermellon%20background.jpg");
	position:contain;

	
}
.paddingcenter{
	padding: 5px;
}
/* Outstanding issue is to get this code to become more like a article + sidebar - Now fixed with bootstrap
.textfloat{
	width:31.3%;
}

.div1{
	float:left;
	display:block;
	padding: 10px 10px 10px 10px;

}
.div2{
	float:left;
	display:block;
	padding: 10px 10px 10px 10px;
}
.div3{
	float:left;
	display:block;
	padding: 10px 10px 10px 10px;
}
.clearfix1{
	clear:both;
}
*/

figure{
	display: block;
	position:right;
	padding:2%;
	font-weight: bold;
	
	
}
/* fixed with bootrap 
@media (min-width: 1200px){
	*/
.market{
	height: 100em; 
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color:white;
	}
.picturesize{
	background-image:url("Images/Olivia%20sat-market%20-%20kopie.jpg"); 
}

li a{
	display:inline-block;
	color:white;
	padding:10px 10px 10px 10px;
	border-color: blue
}
.cities{

}
.center{
	position:center;
	padding: 0% 0% 0% 35%;
}
/* Outstanding work here is that I still need to style the bottom of the page is responsive https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
footer{
	
	background:#ff6969;
}
 
.footPolicy{
	text-align: center;
}
/* Styling previous to Bootstrap
.footp{
	position:center;
	padding: 2% 10% 0% 20%;
	font-size: 20px;
} 
span{
	padding:10px;
}*/ 
p{
	padding-top: 10px
}
.subtitle{
	font-size: 20px;
}
ol{
	list-style-type: upper-roman ;
}
.Recipes{
	padding: 0% 0% 0% 0%;
	font-weight: bold;
}
